<div class="header_container">
    <a href="/" class="header_logo">My NodeJS website</a>

    <a href="/magasins/add">ADD MAGASIN</a>
    <a href="/login">Login</a>
    <a href="/logout">logout</a>
    <a href="/Register">Register</a>
    
    

</div>