<h1>Salut toi about page</h1>

<h2>{{test}}</h2>

<p>Mon nom est tatatatat</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat vero optio aspernatur? Nam dolore accusantium ullam. Dignissimos recusandae accusamus, error quasi dolores, adipisci enim illo, consequatur quis ipsum alias impedit.</p>