<form action="/login" class="form" method="POST">

    <h2>Login</h2>
    <label for="email">
        Email adresse:
        <input type="email" id="email" name="email">
    </label>
    <label for="password">
        Password :
        <input type="password" id="password" name="password">
    </label>
    <input type="submit" class="button" value="login">

</form>